.DS_Store
.idea
node_modules
npm-debug.log
yarn.lock
*.log
.log

# extra
/_build/

# wrold
/world/
/world_nether/
/world_the_end/

# other
/logs/
usercache.json

# plugin
/plugins/dynmap/*
!/plugins/dynmap/*.txt
!/plugins/dynmap/web/
!/plugins/dynmap/web/*
!/plugins/dynmap/web/texturepacks/
!/plugins/dynmap/web/texturepacks/*
!/plugins/dynmap/web/tiles/
/plugins/dynmap/web/tiles/*
