.DS_Store
.idea
node_modules
npm-debug.log
yarn.lock

# extra
/_build/

# wrold
/world/
/world_nether/
/world_the_end/

# other
/logs/
usercache.json

# plugin
/plugins/dynmap/**/*
!/plugins/dynmap/*.txt
