.DS_Store
.idea
node_modules
npm-debug.log
yarn.lock
*.log
.log
*.dat
ids-by-ip.txt
messages_en.properties
server.properties
paper.yml

# extra
/_build/

# wrold
/world/
/world_nether/
/world_the_end/

# other
/logs/
usercache.json

# plugin
/plugins/*
!/plugins/*.jar
!/plugins/**/
/plugins/**/save.yml
/plugins/**/saves.yml
/plugins/**/cache
/plugins/**/worlds
/plugins/**/Skins
/plugins/**/lastupdate
/plugins/**/backup
/plugins/**/flatfile
/plugins/**/userdata
/plugins/**/*.csv
/plugins/**/ids-by-ip.txt
/plugins/dynmap/*
!/plugins/dynmap/*.txt
!/plugins/dynmap/web/
!/plugins/dynmap/web/*
!/plugins/dynmap/texturepacks/
!/plugins/dynmap/texturepacks/*
!/plugins/dynmap/web/tiles/
/plugins/dynmap/web/tiles/*
